<h2 mat-dialog-title>{{data.title}}</h2>
<form [formGroup]="memberForm" >
<mat-dialog-content class="mat-typography">
    <div *ngIf="(data.isEdit && data.action === 'edit')||( data.action === 'add'); else elseBlock">
        
        <p>
    <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="Lastname"  autocomplete="off" placeholder="Placeholder">
        <mat-error *ngIf="memberForm.controls['Lastname'].invalid">{{getLastnameErrorMessage()}}</mat-error>
      </mat-form-field>
  </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="Firstname"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['Firstname'].invalid">{{getFirstnameErrorMessage()}}</mat-error>
        </mat-form-field>
  <p>
    <mat-form-field appearance="outline">
        <mat-label>Cni</mat-label>
        <input matInput formControlName="Cni"  autocomplete="off" placeholder="Placeholder" required>
            <mat-error *ngIf="memberForm.controls['Cni'].invalid">{{getCniErrorMessage()}}</mat-error>
      </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
        <mat-label>Numero de Carte</mat-label>
        <input matInput formControlName="NumCard"  autocomplete="off" placeholder="Placeholder" required>
            <mat-error *ngIf="memberForm.controls['NumCard'].invalid">{{getNumCardErrorMessage()}}</mat-error>
      </mat-form-field>
  </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Profession</mat-label>
            <input matInput formControlName="Occupation"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['Occupation'].invalid">{{getOccupationErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Commune</mat-label>
            <mat-select formControlName="CommuneId" placeholder="Placeholder">
              <mat-option *ngFor="let commune of data.communes" [value]="commune.Id">
                {{commune.Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="memberForm.controls['CommuneId'].invalid">{{getCommuneIdErrorMessage()}}</mat-error>
          </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Sexe</mat-label>
            <input matInput formControlName="Gender"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['Gender'].invalid">{{getGenderErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput formControlName="Birthdate"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['Birthdate'].invalid">{{getBirthdateErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Lieu de naissance</mat-label>
            <input matInput formControlName="BirthPlace"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['BirthPlace'].invalid">{{getBirthPlaceErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Quartier</mat-label>
            <input matInput formControlName="Province"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['Province'].invalid">{{getProvinceErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Type de souscription</mat-label>
            <input matInput formControlName="SubscriptionType"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['SubscriptionType'].invalid">{{getSubscriptionTypeErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Date de souscription</mat-label>
            <input matInput formControlName="SubscriptionDate"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['SubscriptionDate'].invalid">{{getSubscriptionDateErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Contact</mat-label>
            <input matInput formControlName="Contact"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['Contact'].invalid">{{getContactErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Numero de membre</mat-label>
            <input matInput formControlName="MembershipNum"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['MembershipNum'].invalid">{{getMembershipNumErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Num Qr Code</mat-label>
            <input matInput formControlName="QrCodeRef"  autocomplete="off" placeholder="Placeholder">
            <mat-error *ngIf="memberForm.controls['QrCodeRef'].invalid">{{getQrCodeRefErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>






    </div>
    <ng-template #elseBlock>Confirmez la suppression</ng-template>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <div *ngIf="(data.isEdit && data.action === 'edit'); else addBlock">
    <button mat-button   [disabled]="!memberForm.valid" [mat-dialog-close]="1" (click)="editMember(memberForm.value)" [mat-dialog-close]="true" cdkFocusInitial>Modifier</button>
  </div>
  <ng-template #addBlock>
    <div *ngIf="( data.action === 'add'); else deleteBlock">
    <button mat-button   [disabled]="!memberForm.valid" [mat-dialog-close]="1" (click)="onSubmit()" [mat-dialog-close]="true" cdkFocusInitial>Ajouter</button>
    </div>
  </ng-template>
  <ng-template #deleteBlock>
    <button mat-button [mat-dialog-close]="1" (click)="deleteMember()" [mat-dialog-close]="true" cdkFocusInitial>Supprimer</button>
  </ng-template>
</mat-dialog-actions>
</form>
<!--  -->